
<!-- <div class="form-center">
  <h2>User Input: Template Format</h2>
  <form (submit)="formSubmit($event)">
    <input type="text" placeholder="Name" name="name">
    <br>
    <input type="text" placeholder="Email" name="email">
    <br>
    <input type="text" placeholder="Password" name="password">
    <br>
    <input type="number" placeholder="age" name="age">
    <button>Submit</button>
  </form>
</div> -->

<!-- <div class="form-center">
  <h2>User Input: Angular Form</h2>
  <form (submit)="formSubmit(f)" #f="ngForm">
    <input type="text" placeholder="Name" name="name" ngModel>
    <br>
    <input type="text" placeholder="Email" name="email" ngModel>
    <br>
    <input type="text" placeholder="Password" name="password" ngModel>
    <br>
    <input type="number" placeholder="age" name="age" ngModel>
    <button>Submit</button>
  </form>
</div> -->

<!-- <div class="form-center">
  <h2>User Input: Angular Form</h2>
  <form (submit)="formSubmit(f)" #f="ngForm">
    <input type="text" placeholder="Name" name="name" ngModel #name="ngModel" (change)="getValue(name)" required minlength="3" maxlength="10">
    <div class="alert">
      @if (name.invalid && name.touched) {
        @if(name.hasError('required')) {
          <p>Full Name is required</p>
        }
        @if(name.hasError('minlength')){
          <p>Name must be longer than 2.</p>
        }
        @if(name.hasError('maxlength')){
          <p>Name must be shorter than 10.</p>
        }

      }
    </div>
    <br>
    <input type="text" placeholder="Email" name="email" ngModel #email="ngModel" required pattern="[^@\s]+@[^@\s]+\.[^@\s]+">
    <div class="alert">
      @if(email.invalid && email.touched){
        @if(email.hasError('required')) {
          <p>Email is required</p>
        }
        @if(email.hasError('pattern')){
          <p>Incorrect Email syntax.</p>
        }
      }
    </div>
    <br>
    <input type="text" placeholder="Password" name="password" ngModel>
    <br>
    <input type="number" placeholder="age" name="age" ngModel>
    <button>Submit</button>
  </form> -->
  <!-- <div class="form-center">
  <h2>User Input: Angular Form</h2>
  <form (submit)="formSubmit(f)" #f="ngForm">
    <input type="text" placeholder="Name" name="name" ngModel #name="ngModel" (change)="getValue(name)" required minlength="3" maxlength="10">
    <div class="alert">
      @if (name.invalid && name.touched) {
        @if(name.hasError('required')) {
          <p>Full Name is required</p>
        }
        @if(name.hasError('minlength')){
          <p>Name must be longer than 2.</p>
        }
        @if(name.hasError('maxlength')){
          <p>Name must be shorter than 10.</p>
        }

      }
    </div>
    <br>
    <input type="text" placeholder="Email" name="email" ngModel #email="ngModel" required pattern="[^@\s]+@[^@\s]+\.[^@\s]+">
    <div class="alert">
      @if(email.invalid && email.touched){
        @if(email.hasError('required')) {
          <p>Email is required</p>
        }
        @if(email.hasError('pattern')){
          <p>Incorrect Email syntax.</p>
        }
      }
    </div>
    <br>
    <input type="text" placeholder="Password" name="password" ngModel>
    <br>
    <input type="number" placeholder="age" name="age" ngModel>
    <button>Submit</button>
  </form>
</div> -->

<div class="form-center">
  <h2>User Input: Angular Form</h2>
  <form (ngSubmit)="formSubmit(f)" #f="ngForm">
    <input type="text" placeholder="Name" name="name" ngModel #name="ngModel" (change)="getValue(name)" required minlength="3" maxlength="10">
    <div class="alert">
      @if (name.invalid && name.touched) {
        @if(name.hasError('required')) {
          <p>Full Name is required</p>
        }
        @if(name.hasError('minlength')){
          <p>Name must be longer than 2.</p>
        }
        @if(name.hasError('maxlength')){
          <p>Name must be shorter than 10.</p>
        }

      }
    </div>
    <br>
    <input type="text" placeholder="Email" name="email" ngModel #email="ngModel" required pattern="[^@\s]+@[^@\s]+\.[^@\s]+">
    <div class="alert">
      @if(email.invalid && email.touched){
        @if(email.hasError('required')) {
          <p>Email is required</p>
        }
        @if(email.hasError('pattern')){
          <p>Incorrect Email syntax.</p>
        }
      }
    </div>
    <br>
    <input type="text" placeholder="Password" name="password" ngModel>
    <br>
    <input type="number" placeholder="age" name="age" ngModel>
    <button [disabled]="f.invalid">Submit</button>
  </form>
</div>
